@page
@model FamilyRecipes.Pages.AddRecipeModel
@{
    ViewData["Title"] = "Home page";
    List<Models.Unit> units = Model.Units;
    int numberOfUnits = 999;
    List<Models.Unit> firstUnits = new List<Models.Unit>();
    Models.Recipe CurrentRecipe = Model.MyRecipe;
    if (units.Count > numberOfUnits)
    {
        firstUnits = units.Take(numberOfUnits).ToList();
    }
    else
    {
        firstUnits = units.ToList();
    }
}

<div class="scrollinside max80 footerspacer">
    <div class="text-center">
        <br />
        <div class="f-h1 t-neonpink">Add Recipe</div>
        <br />
        <div>
            <div class="t-goldy">@CurrentRecipe.Title</div>
            <div class="t-gld">Time: @CurrentRecipe.TimeRequired</div>
            <br />
            @foreach (Models.RecipeIngredient ri in CurrentRecipe.RecipeIngredients)
            {
                <div class="f-p t-gld">@ri.Ingredient.Name: @ri.Amount, @ri.Unit.Name</div>
            }
        </div>
    </div>
    <br />
</div>
