@page
@model FamilyRecipes.Pages.RecipesModel
@{
    ViewData["Title"] = "Home page";
    List<Models.Unit> units = Model.Units;
    int numberOfUnits = 999;
    List<Models.Unit> firstUnits = new List<Models.Unit>();
    Models.Recipe CurrentRecipe = Model.MyRecipe;
    if (units.Count > numberOfUnits)
    {
        firstUnits = units.Take(numberOfUnits).ToList();
    }
    else
    {
        firstUnits = units.ToList();
    }
}

<div class="scrollinside max80 footerspacer">
    <div class="text-center">
        <br />
        <div class="f-h1 t-neonpink">Recipes</div>
        <br />
        <div class="card1 card-color1 glass">
            <br />
            <div class="f-h2 t-pinky">@CurrentRecipe.Title</div>
@*             <div class="t-gld">Time: @CurrentRecipe.TimeRequired</div>
            @foreach (Models.RecipeIngredient ri in CurrentRecipe.RecipeIngredients)
            {
                <p>@ri.Ingredient.Name: @ri.Amount, @ri.Unit.Name</p>
            } *@
        </div>
    </div>
    <br />
</div>
