@page
@model FamilyRecipes.Pages.RecipesModel
@{
    ViewData["Title"] = "Home page";
    List<Models.Unit> units = Model.Units;
    int numberOfUnits = 999;
    List<Models.Unit> firstUnits = new List<Models.Unit>();
    Models.Recipe CurrentRecipe = Model.MyRecipe;
    bool hasCaloriesAny = Model.HasCaloriesAny;

    if (units.Count > numberOfUnits)
    {
        firstUnits = units.Take(numberOfUnits).ToList();
    }
    else
    {
        firstUnits = units.ToList();
    }
}

<div class="scrollinside max80 footerspacer">
    <div class="text-center">
        <br />
        <div class="f-h1 t-neonpink">Recipes</div>
        <br />
        <div class="card1 card-color1 glass">
            <br />
            <div class="f-h2 t-goldy">@CurrentRecipe.Title</div>
            <div class="f-h2 t-pinky">by @CurrentRecipe.UserName</div>
            <div class="t-gld">@CurrentRecipe.CreatedDate.ToShortDateString()</div>
            <div class="t-gld">@CurrentRecipe.Category.MainCategory - @CurrentRecipe.Category.SubCategory</div>
            @if (CurrentRecipe.AdultsOnly == true)
            {
                <div class="t-pinky">This recipe is for adults only</div>
            }
            else
            {
                <div class="t-pinky">This recipe is for everyone</div>
            }
            <br />
            <div class="text-start blockcenter">

                <div>
                    <span class="t-pinky ch8 textright">Time:</span>
                    <span class="t-gld ch24 textleft">@CurrentRecipe.TimeRequired minutes</span>
                    <span> - </span>
                    <span class="t-pinky ch10 textright">Servings:</span>
                    <span class="t-gld ch24 textleft">@CurrentRecipe.Servings</span>
                </div>

                <!-- Logic: Check recipeIngredients for totalcalories in backend -->
                <!-- If any has calories data can be displayed -->
                <!-- If recipe also has number of servings, show kcal/serving -->
                @if (hasCaloriesAny)
                {
                    int xCal = 0;
                    int sCal = 0;
                    foreach (Models.RecipeIngredient rx in CurrentRecipe.RecipeIngredients)
                    {
                        xCal += rx.TotalCalories;
                    }
                    <div>
                        <span class="t-pinky ch10 textright">Calories:</span>
                        <span class="t-gld ch24 textleft"> @xCal kcal</span>
                        @if (CurrentRecipe.Servings > 0)
                        {
                            sCal = xCal / CurrentRecipe.Servings;
                            <span> - </span>
                            <span class="t-pinky ch10 textright">Serving:</span>
                            <span class="t-gld ch24 textleft"> @sCal kcal</span>
                        }
                    </div>
                }
                <br />
                <div class="t-gld ch16 textleft">Ingredients</div>
                @foreach (Models.RecipeIngredient ri in CurrentRecipe.RecipeIngredients)
                {
                    <div>
                        <span class="t-pinky ch8 textright">@ri.Amount@ri.Unit.Short</span><span class="t-gld">@ri.Ingredient.Name</span>
                        @if (ri.TotalCalories != 0)
                        {
                            <span class="t-pinky ch16 textleft"> (@ri.TotalCalories kcal)</span>
                        }
                        else
                        {
                            <span class="t-pinky ch8 textleft"> (Calories N/A)</span>
                        }
                    </div>
                }
                <br />
                @for (int i = 1; i <= CurrentRecipe.Steps.Count; i++)
                {
                    <div class="t-pinky">@i. <span class="t-gld">@CurrentRecipe.Steps[i - 1]</span></div>
                }
                <br />
                <div class="t-gld">@CurrentRecipe.Description</div>

            </div>

        </div>
    </div>
    <br />
</div>
